
*{
    margin: 0;
    padding: 0;
}

body{
  
    color:black;
    background-color: white;
    font-family: monospace;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1% 0;
}
body,html{
    height: 450vh;
}

footer{
    background-color: darkslateblue;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: medium;
    
}

header{
width:100%;
text-align: center;
    
}

nav{
    background-color:black;

    
    
    }



nav li{
    list-style: disc inside;
    margin: 8px;
    display: inline-block;
    color: black;
}

a{
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.focal-point-container{
    width: 100%;
    
    padding: 80px 20px;
    background-color:grey;
    position: relative;
    height: 100vh;

}
.focal-point{
    background-image: url("../images/WIN_20220730_15_00_40_Pro.jpg");
    
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
   
    }
.focal-point-text{
    width: 100%;
    min-height: 100%;
    background-color: darkslategrey;
    opacity:0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.text-container p{
    font-size: 36px;
    color: white;
}



#personal_photo{
    width: 90%;
    border-radius: 15px;
    border: 2px solid white;

}
main{
    text-align: center;
}
p{
    font-size: large;
}

#personal_info_secction{
    width: 100%;
    margin: 2% 0;
    padding:2% auto;
    border-radius: 5px;
    border-width: 2px ;
    border-style: solid;
    border-color:white;
    background-color:darkslategrey;

}
.personal_info{
    width: 100%;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    margin:10px;
    padding: 10px;

}

.course-list{
    display: block;
    list-style:decimal inside;
}

#list_of_courses{
    background-color:white;
}

/*contact form section style*/
#contact_form{

    border: 2px solid white;
    border-radius: 5px;
    background: linear-gradient(180deg,darkslategrey,black);
    color: white;
}
.contact-form-section{
    width: 100%;
}
input[type="text"],input[type="email"]{
    border: 2px solid white;
    color: black;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
   
}

input[type="submit"]{
    background-color: white;
    border: 2px solid black;
    margin: 5px;
    border-radius: 5px;
    width: 10%;
   

}
/*project and skill section*/
#projects-and-skill{
    width: 100%;
    margin: 2% 0%;
    border: 2px solid white ;
    background-color:darkslategrey;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;

}
#slill-and-challenges,#projects{
    border: 3px solid white;
    margin: 8px 8px 8px 3%;
    padding: 40px 0;
    border-radius:8px;
    width:100%;  
    background-color: white;
    color: black;
}

#slill-and-challenges:hover{
    transform: scale(2);
}
#image{
    border: 2px solid darkslategrey;
}

/*resume section*/
#resume{
 color: black;
 text-align: center;
    
}
#resume:hover{
    /*transform: scale(2) translate(-100px);*/

}

.tech-testmon-section{
    border: 2px solid black;
    margin: 2% 0;
    width: 100%;
    height: 250px;
    background-color: darkslategrey;
}

#footer_to_contacts{
    background-color: darkslategrey;
    border: 3px solid black;
    border-radius: 8px;
    margin:auto 0;
    color: white;
    text-align: center;
    
}
/*large box style*/
#largebox{
    width: 100%;
    height: 700px;
}

/*media query section*/

@media(min-width:740px){
    body,html{
       height: 100vh;
    }

    nav{
        display: flex;
        justify-content: space-between;
        justify-content: center;
        
        }
    
    .personal_info{
        display: inline-block;
        margin: 10px;
        width: 25%;
    
    }
    .personal_info_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-between;
    
    }

    .contact-form-section{
        width: 60%;
    }

    
    #slill-and-challenges,#projects{
        width:45%;  
        
       
       
    }
    #projects-and-skill{
       
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }

    #contact_form{

        margin: 2% auto;
        position: relative;
        left: 25%;
    }
    .tech-testmon-section{
        border: 2px solid black;
        margin: 2% 0;
        width: 60%;
        position: relative;
        left: 15%;
        height: 250px;
        
    }
    
    



}



