body{
    background-color:rgb(76, 0, 255);
    color: white;
}
nav{
    background-color: azure;
    margin-left: 200px;
   
   
}
#about_link{
    position: relative;
    top: 0;
    left: 300px;
    font-weight: 700;


}
a{
    color:red;
}
#projects_link{
    position: relative;
    top: 0;
    left: 400px;

}
#skills_link{
    position: relative;
    top: 0;
    left: 500px;
    
}
#contacts_link{
    position: relative;
    top: 0;
    left: 600px;

}